<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.ezfinancetracker_0_1" version="1.0.1">
    <name>EZ Finance Tracker v0.1</name>
    <description>
        EZ Finance Tracker is a mobile application for analyzing spending habits by tracking receipts.
    </description>
    <author email="mkaisercross@gmail.com" href="http://www.nvizo.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <access origin="*" />
    <uses-permission name="android.permission.CAMERA" />
    <uses-feature name="android.hardware.camera" />
    <uses-feature name="android.hardware.camera.autofocus" />
    <preference name="android-minSdkVersion" value="14" />
    <feature name="Tesseract">
        <param name="android-package" value="org.nvizo.tesseract.Tesseract" />
    </feature>
    <allow-navigation href="http://*/*" />
</widget>

