/* #293E6A dark blue
   #3B5998 med blue
   #639BF1 light blue
   #77BA9B med green
   #B6A754 med yellow
*/

/*
#FFFFFF; white
#DDDAD6; light grey
#F9F1B5; light yellow
#A6D8DE; light blue
#AE9C96; med grey
#333333; near black
*/

html {
    width: 100%;
    height: 100%;
    clip: auto;
    position: absolute;
    overflow: hidden;
    color: #333333; 
    font-size: 1.3em;
}

body {
    background-color: #FFFFFF; 
    color: #333333; 
}

body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

h1, h2, h3, h4, h5 {
    color: #999999;
}

.pure-button {
    background: #DDDAD6;
    color: #333333; 
}

.pure-button-primary {
    background: #A6D8DE; 
    color: #333333; 
}


.checkbox {
    display: block;
}

    .checkbox input[type='checkbox'] {
	width:20px;
	height:20px;
	background:#F9F1B5; 
	border-radius:5px;
	border:2px solid #555;
	float: left;
    }

    .checkbox label {
	float: left;
        margin-left: 0.5em;
    }
    

.header h1 {
  font-size: 1.5em;
  z-index: 1000;
  
}